body {
  font-family: "Arial Unicode MS";
  --dark-cell: #b58863;
  --lite-cell: #f0d9b5;
  --cell-size: 50px;
}

.cell {
  font-size: 180%;
  display: inline-flex;
  box-sizing: border-box;
  min-height: var(--cell-size);
  min-width: var(--cell-size);
  border: 1px black solid;
  justify-content: center;
  align-items: center;
}
